$wpink: #f8c7e0;
$worange: #FBC894;
$wyellow: #FEE681;
$wgreen: #B1FEC7;
$wblue: #81B0FE;
$wwblue: #9EDFFC;
$wmint: #92E9EA;
$wwmint: #78D6F7;
$wpurple: #A8A8F5;
$wgrey: #B8B1B1;
$rwred:#ff0f6f;
$rwpink:#c91db2;
$wgrey: #F5F5F5;
