#videoInfo{
    .videoInfo__hashtags{
        display:flex;
        margin-top: 20px;
        margin-bottom: 7px;
        color: grey;
    }
    .videoInfo__title{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .videoInfo__state{

    }
    .videoInfo__last_update{

    }
    #uploader_info{

    }
}
