.video-list {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21vw, auto));
    grid-template-rows: repeat(4, minmax(200px, 0.8fr));
    column-gap: 80px;
    row-gap: 110px;

    width: 106%;
    height: 180px;
    margin-left: -40px;
    margin-right: 40px;

    .video-block {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        width: 110%;

        a.image-link {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            object-fit: contain;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        div.video-block__info {
            display: grid;
            position:absolute;
            margin-top: 290px;
            width: 100%;
            grid-template-columns: 70px auto;
            grid-template-rows: 40px auto ;
            
            div.owner-avatar {
                border-radius: 50%;
                width: 50px;
                height: 50px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            a.title-link {
                span.title {
                    font-size: 20px;
                    top: 2px;
                    font-weight: bolder;
                    position: absolute;
                }
            }

            div.video-meta {
                display: flex;
                flex-direction: row;
                position: absolute;
                font-size: 15px;
                left: 60px;
                top: 30px;
                span{
                    margin-left: 10px;
                }
            }

        }

    }

    #upload-video-btn {
        justify-self: center;
        align-self: center;
        width: 180px;

    }


}

.video-list>span {
    justify-self: center;
    align-items: center;
    margin-top: 17%;
    font-size: 20px;
}

.video-list.in-account-page {
    margin-left: 0;
    column-gap: 30px;
    margin-top: 20px;
}