div.profile-img_s{            
    border-radius: 50%;
    height: 40px;
}
img.avatar_s{
    border-radius: 50%;
    height: 40px;
}

div.profile-img_m{            
    border-radius: 50%;
    height: 60px;
}
img.avatar_m{
    border-radius: 50%;
    height: 60px;
}

div.profile-img_l{            
    border-radius: 50%;
    height: 120px;
}
img.avatar_l{
    border-radius: 50%;
    height: 120px;
}
