div.profile-img{            
    border-radius: 50%;
    
}
img.avatar{
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;

}
.small{
    max-height: 40px;
    width: 40px;
}
.normal{
    max-height: 50px;
    width: 50px;
}
.middle{
    max-height: 60px;
    width: 60px;
}
.large{
    max-height: 120px;
    width: 120px;
}

img#editProfile{
    position: absolute;
    right: 50px;
    top: 50px;
}