header {
    z-index: 2;
    grid-area: header;
    display: grid;
    grid-template-columns: 25fr 30fr 30fr;
    position: sticky;
    top: 0px;

    align-items: center;
    justify-content: space-between;
    border: solid white;
    border-width: 50px 0;
    background-color: white;

    a.header__site_logo {
        justify-self: left;
        display: flex;
        align-items: center;

        span {
            margin-left: 5px;
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 36px;
            font-weight: 550;
            color: black;
        }
    }

    .header__search_bar {
        form {
            flex-direction: row;
            height: 40px;

            .typing-area {
                width: 90%;
            }
        }
    }

    .header__right_icons {
        display: flex;
        align-items: center;
        justify-self: right;
        width: 230px;
        justify-content: space-between;
        
        a.upload-video-icon{
            font-size: 25px;
            color: white;
            i{
                margin-left: -20px;
                color: black;
            }
            
        }
        a.sign-out-icon{
            font-size: 25px;
            display:flex;
            justify-content: center;
            align-items: center;
            span{
                margin-left: 5px;
                font-size: 17px;
            }
        }
    }
}