extends ../base
include ../mixin/video

block content        
    div.video-list
        each video in videos 
            +video(video)
        else
            span Sorry nothing found.
            
        if loggedIn
            a(href="/videos/upload").round-btn#upload-video-btn
                i.fas.fa-video
                span Upload Video
block scripts
    script(src="dist/timeago.min.js")
    script(src="/static/js/updatedTimeago.js")
