extends ../base

block content 
    if errorMessage 
        span.errorMessage=errorMessage
    div.preview-box
        video#preview
        button#startBtn.normal-btn Start Recording
    form.submit-form(method="POST", enctype="multipart/form-data")
        div
            label(for="video") Video
            input(type="file", accept= "video/*", id="video" ,name="video", required)
        div
            label(for="thumb") Thumbnail
            input(type="file", accept="image/*", id="thumb", name="thumb", required)
        div
            label(for="title") Title
            input(placeholder="Title", type="text", name="title", required)
        div
            label(for="description") Description 
            input(placeholder="Description", type="text", name="description")
        div
            label(for="hashtags") Hashtags
            input(placeholder="Hashtags, separated by comma.", type="text", name="hashtags", required)
        input.save-btn(value="Upload Video", type="submit")

block scripts 
    script(src="/static/js/recorder.js")