header.header           
    a.header__site_logo(href="/")
        img(src="https://pixtube.s3.ap-northeast-2.amazonaws.com/youtube-logo.png", height="40", crossorigin="anonymous")
        span PixTube 
    div.header__search_bar
        form(method="GET", action="/videos/search")
            input.typing-area(type="text", placeholder="  Search", name="search")
            input.search-btn(type="submit", value="Go!")
    
    div.header__right_icons        
        if loggedIn   
            a(href="/videos/upload").upload-video-icon +
                i.fa-solid.fa-video
            div#profileLink(username=loggedInUser.username)
                a(href=`/user/${loggedInUser._id}`)
                    if loggedInUser.socialOnly || loggedInUser.noAvatar
                        img.avatar(src=`${loggedInUser.profilePicPath}`, height="40",crossorigin="anonymous") 
                    else 
                        img.avatar(src=`/${loggedInUser.profilePicPath}`, height="40",crossorigin="anonymous")              
            a.sign-out-icon(href="/user/logout")
                i.fas.fa-sign-out-alt
                span Sign out
        else
            a(href="/user/login").round-btn#login-btn
                i.fa-solid.fa-user
                span Sign in
                
