.nav 
        input#check_box(type="checkbox")
        div.hamburger#nav_background
        label.hamburger(for="check_box") 
            span
            span
            span
        
        div.side_bar
            div.logo-area
                img(src="../img/youtube-logo.png") 
                span PixTube

            ul.contents
                li Home
                li Subscriptions
                hr
                li Library
                li Histroy
                li Your videos
                hr
                li Settings
                li Send feedback

                p &copy; #{new Date().getFullYear()} PixTube by youredith
                    
