extends ../base
include ../mixin/video

block content
    div.profile_card
        div.main-info
            div.profile_img
                if loggedInUser.socialOnly
                    img.avatar(src=user.profilePicPath,crossorigin="anonymous")
                else
                    img.avatar(src= "/" + user.profilePicPath,crossorigin="anonymous")
                
            div.user_name
                span=user.username
        div.location_followers_state
            label.subtitle(for="location") Location  
            span(name="location") #{user.location}
            label.subtitle(for="followers") Followers  
            span(name="followers") 15 followers 
            label.subtitle(for="following-state") My following state  
            span ✔︎following 

        if loggedInUser && (String(loggedInUser._id) === String(user._id))
                a.normal-btn(href="/user/edit") Edit profile &rarr;

    hr    

    div.account_contents
        if loggedInUser
             if (String(loggedInUser._id) === String(user._id))
                    p.subtitle My Account settings
                    span=user.email 
                    hr
    
        p.subtitle User Uploaded Videos
        div.video-list.in-account-page
            each video in user.videos
                +video(video)
            else 
                span There are no videos uploaded by this user.
