extends ../base

block content 
    span.errorMessage=errorMessage

    form.submit-form(method="POST")
        div.password 
            label.subtitle(for="password") Password
            input(placeholder="password", type="password", name="password", required )
        div.password2 
            label.subtitle(for="password2") Confirm password   
            input(placeholder="confirm password", type="password", name="password2", required )
        input.save-btn(type="submit", value="Change Password")