if loggedInUser 
    hr
    div.add-comments          
        div.user-profile-pic
            if loggedInUser.socialOnly || loggedInUser.noAvatar
                img.avatar(src=`${loggedInUser.profilePicPath}`, crossorigin="anonymous") 
            else
                img.avatar(src=`/${loggedInUser.profilePicPath}`, crossorigin="anonymous")    
        div.comment-line  
            form#addCommentForm         
                textarea(cols="70", rows="0.5", placeholder="Write a nice comment here!")
                button Submit


    
        
//if this is video owned by the curr user
    
            
div.comments
    each comment in video.comments.reverse() 
        +comment(comment)